.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f85959;
  z-index: 100;
  width: 100%;
  height: 60px;
}

.wrapper .content {
  margin: 0 auto;
  width: 78%;
  height: 100%;
  overflow: hidden;
}

.content .logo {
  float: left;
  width: 75px;
  height: 100%;
  background-image: url(images/logoright.png);
  background-repeat: no-repeat;
  color: transparent;
  background-size: contain;
  background-position: 50%;
  cursor: pointer;
}

.content .right {
  float: right;
  height: 100%;
}

.content .user {
  display: inline-block;
  height: 100%;
  margin-left: 50px;
  // position: relative;
}

.user .information {
  line-height: 60px;
  height: 60px;
  width: 100%;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.information .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.information .userName {
  max-width: 80px;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.information i {
  color: #fff;
}

.user .dashboard {
  position: absolute;
  top: 60px;
  right: 11%;
  width: 136px;
  border: 1px solid #d2d2d2;
  display: none;
}

.dashboard ul {
  list-style-type: none;
}

.dashboard li {
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.dashboard li i {
  margin-right: 10px;
}

.user .showDash {
  display: block;
}