/* 将所有元素默认的内外边距全部重置为零 */
* {
  margin: 0;
  padding: 0;
}

/* 设置页面的最小宽度和最小高度，并将页面高度撑满 */
html {
  min-width: 1080px;
  min-height: 100%;
  height: 100%
}

body,
body > :global(#app),
body > :global(#app) > :global(#routes) {
  height: 100%;
  font-family: helvetica, Arial, "Hiragino Sans GB","Microsoft YaHei", simsun;
  font-size: 14px;
  line-height: 1.2;
  color: #595959;
}

body {
  min-height: 768px;
}
