.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .content {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(images/login-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.content .logoWrap {
  position: absolute;
  top: 16px;
  left: 16px;
}

.logoWrap img {
  width: 110px;
  height: 27px;
}

.content .sloganWrap {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -275px;
}

.sloganWrap img {
  width: 550px;
  height: 385px;
}

.content .signBox {
  position: absolute;
  width: 300px;
  top: 230px;
  left: 50%;
  padding: 28px 50px 38px;
  margin-left: -200px;
  background-color: #fff;
}